{% if page.series %}
{% assign count = '0' %}
{% assign idx = '0' %}
{% for post in site.posts reversed %}
    {% if post.series == page.series %}
        {% capture count %}{{ count | plus: '1' }}{% endcapture %}
        {% if post.url == page.url %}
            {% capture idx %}{{count}}{% endcapture %}
        {% endif %}
    {% endif %}
{% endfor %}
<div class="panel seriesNote">
    {% if idx == '1' %}
    <p>
    This article is <strong>Introduction</strong> to a <strong>{{ count | minus: '1' }}-Part</strong> Series.
    </p>
    {% else %}
    <p>
    This article is <strong>Part {{ idx | minus: '1' }}</strong> in a <strong>{{ count | minus: '1' }}-Part</strong> Series.
    </p>
    {% endif %}
    <ul>
    {% assign count = '0' %}
    {% for post in site.posts reversed %}
    {% if post.series == page.series %}
        {% capture count %}{{ count | plus: '1' }}{% endcapture %}
        {% if count == '1' %}
        <li>Introduction - 
        {% else %}
        <li>Part {{ count | minus: '1' }} - 
        {% endif %}
        {% if page.url == post.url %}
            <b>This Article</b>
        {% else %}
            <a href="{{ site.baseurl }}{{post.url}}">{{post.title}}</a>
        {% endif %}
        </li>
    {% endif %}
    {% endfor %}
    </ul>
</div>
{% endif %}