/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

keyword {
  font-weight: bold;
  color:  #0509fc;
}

/**
 * Basic styling
 */
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 400;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, 
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}





/**
 * Set main page style
 */

.container {
  min-height:100%;
  max-width: -webkit-calc(#{$page-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$page-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  padding-top:30px;

  background-color:#fff;
  margin-top:20px;
  margin-bottom:30px;
  box-shadow: 1px 1px 10px #BBB;
}

/*for media*/
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/*two columns*/
.col-sm-8,.col-sm-2{
  position:relative;
  min-height:1px;
  margin: 0px 15px;
}


@media screen and (min-width : $on-palm) {
  .col-sm-8 {
    float:left;
    width:65%;
  }

  .col-sm-2 {
    float:right;
    width:25%;
  }
}



/**
 * Images
 */
img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  border:1px solid #000;
}


/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}



/**
 * Links
 */
a {
  color: #39c;
  text-decoration: none;

  &:visited {
    color: #39c;
  }

  &:hover {
    color: #669900; //$hover-color;
    text-decoration: underline;
  }
}


.post-content a{
  color: $brand-color;    
  text-decoration: none;  
  border-bottom: 1px dotted;
  &:visited {             
    color: darken($brand-color, 25%);
  }                       

  &:hover {               
    color: $hover-color;
    text-decoration: none;
  }  

}

/**
 * Blockquotes
 */

blockquote{
  padding: 0 1em;
  margin: 14px 0;
  border: 2px dashed #d0dfda;
  border-radius: 5px;
  color: $grey-color;
  font-size: 18px;
  background: #f9f9f9;

  &:hover {
    color: #454545;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.warning {
  margin: 14px 0;
  padding: 10px 10px 10px;
  padding-left: 10px;
  border: 1px solid #000000;
  background-color: #ffffcc;
}

.info {
  margin: 14px 0;
  padding: 10px 10px 10px;
  padding-left: 10px;
  border: 1px solid #000000;
  background-color: #e7f3fe;
}

/**
 * Code formatting
 */
pre,code {
  font-size: 15px;
  border-radius: 3px;
  background-color: $code-backgroud-color;
  color: $code-font-color;
  line-height: 20px;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow: auto; 

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}


Note{
border-radius:4px;
font-family:'Open Sans',sans-serif;
padding:14px!important;
margin-top:5px;
margin-bottom:17px;
line-height:25.88px;
font-style:normal;
color:#black;
background-color:#edf0d5;
border:1px solid #000;

  &:hover {
    color: #454545;
  }

  > :last-child {
    margin-bottom: 0;
  }
}
/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



/**
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}



/**
 * Table
 */


table { 
  padding: 0;
  margin-bottom: 5px;
  border-collapse: collapse; 
  font-size: $small-font-size;
}
table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}
table tr:nth-child(2n) { background-color: #f8f8f8; }
table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  margin: 0;
  padding: 3px 6px;
}
table tr td {
  border: 1px solid #cccccc;
  margin: 0;
  padding: 3px 6px;
}
table tr th :first-child, table tr td :first-child { margin-top: 0; }
table tr th :last-child, table tr td :last-child { margin-bottom: 0; }


/**
 * line between each post on main page
 */

hr{
  margin-bottom: 30px;
  border: 0;
  border-bottom: 1px dotted #ccc;
}

cite{ 
  font-style: italic;
  text-decoration: underline;
}

.panel {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05)
}

.panel-heading {
    padding: 10px 15px;
    margin: -15px -15px 15px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 17.5px;
    font-weight: 500
}

.panel-footer {
    padding: 10px 15px;
    margin: 15px -15px -15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

.panel-primary {
    border-color: #428bca
}

.panel-primary .panel-heading {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca
}

.panel-success {
    border-color: #d6e9c6
}

.panel-success .panel-heading {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6
}

.panel-warning {
    border-color: #fbeed5
}

.panel-warning .panel-heading {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5
}

.panel-danger {
    border-color: #eed3d7
}

.panel-danger .panel-heading {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7
}

.panel-info {
    border-color: #bce8f1
}

.panel-info .panel-heading {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1
}